:root{
--cor01:#ff0000;
--cor02:blue;
--cor03:#ffff00;
  
--fonte:'arial,san serif';

}
.p1{
background-color: var(--cor01);
height: 500px;
}


.p2{
background-color: blue;
height: 500px;
}
.p3{
background-color: #ffff00;
height: 500px;
}
.p4{
text-align: center;
display: flex;
color: white;
font-size: 40px;
justify-content: center;
height: 300px;
width: 300px;
border-radius: 10px;
align-items: center;
margin: auto;
background-color: black;
padding: auto;
;}
